<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My SW Idea Management</title>
</head>
<body>
    <div id="gnb">
        <div class="gnb_left">
            <a href="">My SW Idea Manage</a>
        </div>
        <div class="gnb_right">
            <a href="">아이디어 등록</a>
            <a href="">아이디어 관리</a>
            <a href="">개발툴 등록</a>
            <a href="">개발툴 관리</a>
        </div>
    </div>
    <br>
    <br>
    {% block content %}
    {% endblock %}
</body>
</html>